@model IEnumerable<Gerenciador.Models.Professor>

@{
    ViewData["Title"] = "Inicio";
}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Lista de Professores Cadastrados</h3>
    </div>
    @if (TempData["Message"] != null)
    {
        <div class="alert alert-danger alert-dismissible" style="margin-top:20px">
            @TempData["Message"]
        </div>}
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            <a asp-action="Detalhes" asp-route-id="@item.Id"><i class="fas fa-info"></i></a>
                            <a asp-action="Editar" asp-route-id="@item.Id"><i class="far fa-edit"></i></a>
                            <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>