@model GERENCIADOR_TESTE_TEMPLANTE.Models.FileModel

@{
    ViewData["Title"] = "DetailsFileFromDatabase";
}

<div class="col-md-12">
    <div class="card card-success">
        <div class="card-header">
            <h3 class="card-title">Detalhes do Arquivo</h3>
        </div>
        <div>
            <hr />
            <div class="form-group">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Autor)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Autor)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Titulo)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Titulo)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Cidade)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Cidade)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.PalavraChave)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.PalavraChave)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.AnoPubli)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.AnoPubli)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.NomeArquivo)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.NomeArquivo)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.DataCriacao)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.DataCriacao)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TipoArquivo)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TipoArquivo)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Estensao)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Estensao)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Descricao)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Descricao)
                    </dd>
                    <dt class="col-sm-2">
                        Categoria
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.categoria.Nome)
                    </dd>
                    <dt class="col-sm-2">
                        Orientador
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.professor.Nome)
                    </dd>
                    <dt class="col-sm-2">
                        Tipo Trabalho
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TipoTrabalho.Nome)
                    </dd>

                </dl>
            </div>
            <div>
                <a type="button" class="btn btn-primary" asp-controller="File" asp-action="Download" asp-route-id="@Model.Id">Download</a>
                <a asp-action="Autor">Voltar a Lista</a>
            </div>
        </div>
    </div>
</div>




