@model IEnumerable<ApplicationUser>


<!-- Content Wrapper. Contains page content -->
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Lista Usuarios Cadastrados</h3>
    </div>
    @if (TempData["Message"] != null)
    {
        <div class="alert alert-danger alert-dismissible" style="margin-top:20px">
            @TempData["Message"]
        </div>}
    <!-- /.card-header -->
    <div class="card-body">
        @if (Model.Any())
        {
            <a class="btn btn-primary mb-3" style="width:auto" asp-action="Register"
               asp-controller="Account">Novo Usuário</a>

            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Usuario</th>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>RG</th>
                        <th>Matricula</th>
                        <th>Curso</th>
                        <th>Opcoes</th>
                        <th>Apagar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {

                        <tr>
                            <td>@user.Id</td>
                            <td>@user.UserName</td>
                            <td>@user.Nome</td>
                            <td>@user.Cpf</td>
                            <td>@user.Rg</td>
                            <td>@user.Matricula</td>
                            <td>@user.Curso.Nome</td>
                            <td>
                                <a asp-action="EditUser" asp-controller="Administration"
                                   asp-route-id="@user.Id" class="btn btn-primary">Editar</a>
                            </td>
                            <td>

                                <form method="post" asp-action="Delete" asp-route-id="@user.Id">


                                    <span id="confirmaDeleteSpan_@user.Id" style="display:none">
                                        <span>Confirma a exclusão desta role ?</span>
                                        <button type="submit" class="btn btn-danger">Sim</button>
                                        <a href="#" class="btn btn-primary"
                                           onclick="confirmaDelete('@user.Id', false)">Não</a>
                                    </span>
                                    <span id="deleteSpan_@user.Id">
                                        <a href="#" class="btn btn-danger"
                                           onclick="confirmaDelete('@user.Id', true)">Deletar</a>
                                    </span>
                                </form>
                            </td>

                        </tr>

                    }

                </tbody>
            </table>



        }
        else
        {
            <div class="card">
                <div class="card-header">
                    Usuarios sem Registro
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        Use o botão abaixo para criar novo usuário
                    </h5>
                    <a class="btn btn-primary" style="width:auto"
                       asp-controller="Account" asp-action="Register">
                        Criar novo usuário
                    </a>
                </div>
            </div>
        }
    </div>
</div>







<script>
    $(function () {
        bsCustomFileInput.init();
    });
</script>
@section Scripts {
    <script src="~/js/CustomScript.js">
    $(function () {
  bsCustomFileInput.init();
});
    </script>
}

